.footer-col-wrapper:after, .wrapper:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/open-sans-v15-latin-regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/assets/fonts/open-sans-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("/assets/fonts/open-sans-v15-latin-regular.woff") format("woff"), url("/assets/fonts/open-sans-v15-latin-regular.ttf") format("truetype"), url("/assets/fonts/open-sans-v15-latin-regular.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/open-sans-v15-latin-italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("/assets/fonts/open-sans-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/open-sans-v15-latin-italic.woff2") format("woff2"), url("/assets/fonts/open-sans-v15-latin-italic.woff") format("woff"), url("/assets/fonts/open-sans-v15-latin-italic.ttf") format("truetype"), url("/assets/fonts/open-sans-v15-latin-italic.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/open-sans-v15-latin-700.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("/assets/fonts/open-sans-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/open-sans-v15-latin-700.woff2") format("woff2"), url("/assets/fonts/open-sans-v15-latin-700.woff") format("woff"), url("/assets/fonts/open-sans-v15-latin-700.ttf") format("truetype"), url("/assets/fonts/open-sans-v15-latin-700.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/open-sans-v15-latin-700italic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("/assets/fonts/open-sans-v15-latin-700italic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/open-sans-v15-latin-700italic.woff2") format("woff2"), url("/assets/fonts/open-sans-v15-latin-700italic.woff") format("woff"), url("/assets/fonts/open-sans-v15-latin-700italic.ttf") format("truetype"), url("/assets/fonts/open-sans-v15-latin-700italic.svg#OpenSans") format("svg"); }
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto-slab-v7-latin-regular.eot");
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("/assets/fonts/roboto-slab-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/roboto-slab-v7-latin-regular.woff2") format("woff2"), url("/assets/fonts/roboto-slab-v7-latin-regular.woff") format("woff"), url("/assets/fonts/roboto-slab-v7-latin-regular.ttf") format("truetype"), url("/assets/fonts/roboto-slab-v7-latin-regular.svg#RobotoSlab") format("svg"); }
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto-slab-v7-latin-700.eot");
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("/assets/fonts/roboto-slab-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/roboto-slab-v7-latin-700.woff2") format("woff2"), url("/assets/fonts/roboto-slab-v7-latin-700.woff") format("woff"), url("/assets/fonts/roboto-slab-v7-latin-700.ttf") format("truetype"), url("/assets/fonts/roboto-slab-v7-latin-700.svg#RobotoSlab") format("svg"); }
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a,
li {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word; }

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0; }

body {
  font: 400 16px/1.5 "Open Sans", Arial, sans-serif;
  color: #111111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

li > ol,
li > ul {
  margin-bottom: 0; }

ol,
ul {
  margin-left: 30px; }

pre,
code {
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  font-size: 15px; }

code {
  padding: 1px 5px; }

code.highlighter-rouge {
  background-color: #232323;
  color: #E6E1DC; }

pre {
  overflow-x: auto;
  padding: 8px 12px; }
  pre > code {
    border: 0;
    padding-left: 0;
    padding-right: 0; }

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin-bottom: 15px; }

a {
  color: #2A7AE2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111111;
    text-decoration: underline; }

blockquote {
  border-left: 4px solid #e8e8e8;
  color: #828282;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: 15px; }
  blockquote > :last-child {
    margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-weight: 400; }

.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-primary {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-secondary {
  width: -webkit-calc(65% - (30px / 2));
  width: calc(65% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-primary,
  .footer-col-secondary {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

img {
  max-width: 100%;
  vertical-align: middle; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

@media print {
  a:link,
  a:visited {
    text-decoration: underline !important; }
    a:link.header__site-link,
    a:visited.header__site-link {
      text-decoration: none !important; }

  table:after {
    display: none; }
  table td blockquote,
  table td p {
    orphans: 3; }

  tbody {
    display: table-row-group; }

  tfoot {
    display: table-footer-group; }

  thead {
    display: table-header-group; }

  blockquote,
  p {
    orphans: 3; }

  body,
  #main,
  #content,
  #page {
    color: #000000;
    background-color: transparent !important;
    background-image: none !important; }

  #skip-link,
  .site-header,
  .site-footer,
  .site-nav {
    display: none !important;
    visibility: hidden; }

  #content {
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important; }
    #content a[href]:after {
      content: " (" attr(href) ")";
      font-weight: normal;
      font-size: 16px; }
    #content a[href^="javascript:"]:after,
    #content a[href^="#"]:after {
      content: ""; }
    #content abbr[title]:after {
      content: " (" attr(title) ")"; } }
pre {
  position: relative;
  background-color: #232323;
  margin-bottom: 20px;
  overflow-x: scroll;
  font-size: 13px;
  color: #E6E1DC;
  border: none; }
  pre code {
    word-wrap: normal;
    white-space: pre;
    overflow-x: auto; }
  pre .gd {
    color: #E6E1DC;
    background-color: #660000; }
  pre .gi {
    color: #E6E1DC;
    background-color: #144212; }
  pre .c, pre .c1, pre .c2 {
    color: #BC9458;
    font-style: italic; }
  pre .s1, pre .s2, pre .s, pre .sr {
    color: #A5C261; }
  pre .nv {
    color: #D0D0FF; }
  pre .k, pre .o, pre .kp {
    color: #CC7833; }
  pre .mi {
    color: #A5C261; }
  pre .ss {
    color: #6E9CBE; }
  pre .si {
    color: #519F50; }
  pre .vi {
    color: #D0D0FF; }
  pre .p {
    color: #CC7833; }
  pre .m {
    color: #A5C261; }
  pre .nb {
    color: #A5C261; }
  pre .mh {
    color: #D0D0FF; }
  pre .nl {
    color: #6E9CBE; }
  pre .nt, pre .nc, pre .na {
    color: #FFC66D; }
